<div class="row deep-purple">
  <nav class="deep-purple accent-2">
    <div class="nav-wrapper">
      <a class="brand-logo hide-on-med-and-down">La Bodega</a>
      <ul class="right">
        <li>
          <a>
            <i (click)="visibilidad('#items','#resumen',true)" class="material-icons">apps</i>
          </a>
        </li>
        <li>
          <a *ngIf="totalItems > 0">
            <i (click)="visibilidad('#items','#resumen',false)" class="material-icons notif">shopping_cart</i>
            <span class="notification-badge">{{totalItems}}</span>
          </a>
          <a *ngIf="totalItems == 0">
              <i class="material-icons">shopping_cart</i>
            </a>
        </li>
        <li>
          <a>
            <i class="material-icons">local_shipping</i>
          </a>
        </li>
        <li>
          <a>
            <i (click)="logout()" class="material-icons">exit_to_app</i>
          </a>
        </li>
        <li class="responsive">
          <a>
            <i>
              <div class="chip center">
                <img src={{avatar}}
                alt="Contact Person"> {{name}}
              </div>
            </i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
